<div class="wrapper">
  <div id="btn-wrapper">
    <button
      type="button"
      (click)="onClickBtn('stopwatch')"
      [ngClass]="{ stopwatchPageLoad: stopwatchToShow === true }"
    >
      Stop Watch
    </button>
    <button
      type="button"
      (click)="onClickBtn('countdown')"
      class="btn btn-lg btn-outline-success"
      [ngClass]="{ stopwatchPageLoad: stopwatchToShow === false }"
    >
      CountDown
    </button>
  </div>
  <div *ngIf="stopwatchToShow"><app-stopwatch></app-stopwatch></div>
  <div *ngIf="!stopwatchToShow"><app-countdown></app-countdown></div>
</div>
